@mixin btn {
    color: #FFF;
    font-family: "DM Sans";
    font-size: 14px;
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 5px;
    opacity: 0.85;
    background: var(--sabzi);
    border: 1px solid var(--sabzi);
    transition: all 0.3s ease;

    &:hover {
        background-color: #fff;
        border: 1px solid var(--sabzi);
        color: var(--sabzi);
    }
}